<div class="container">
    <nav>
        <div class="container">
            <div class="search-bar">
                <i class='bx bx-chevron-left' id="back"></i>
                <input type="search" placeholder="search for snacks">
                <i class='bx bx-search' id="search"></i>
                 
            </div>
            <div class="cart-icon">
                <i class='bx bxs-cart' ></i>
            </div>
        </div>
    
        <div class="button">
            <a class="btn" [routerLink]="">Non-veg </a>
            <a class="vegbtn" [routerLink]="">Veg </a>
            <br><br><br>
            <h1>Combo Packs</h1>
        </div>
    </nav>

<div class="snacks">
    <div class="menu-item" *ngFor = "let data of sampleArr; let i = index;">
        <div class="menu-details">
            <h1>{{data.name}}</h1>
            <p><strong>&#8377;</strong>{{data.price}}</p>
        </div>
        <div class="menu-image">
            <img src="{{data.image}}" alt="">
        </div>
    

        <div class="addbtn">
            <a (click)="toggleAddForm(data)">ADD</a>
          </div>
          
          <div class="wrapper" *ngIf="data.showAddForm">
            <button class="plusminus minus" (click)="handleMinus(data)">-</button>
            <input type="number" class="num" [(ngModel)]="data.value" />
            <button class="plusminus plus" (click)="handlePlus(data)">+</button>
          </div>
        </div>
    </div>
    <!-- Include the additional array component -->
  <app-additional-array></app-additional-array>
</div>








    




