/* .popup {
    width: 430px;
    height: 102px;
    background-color: #F33A6A;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .details {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  .view-cart {
    background-color: #F33A6A;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }*/


  .popup {
    background-color: #F33A6A;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 450px; /* Adjust the maximum width as needed */
    width: 100%;
    padding-left: 10px;
  }
  
  .popup i.bx-chevron-right {
    font-size: 24px;
  }
  
  .toast-title {
    font-weight: bold;
    font-size: 16px;
  }
  
  .toast-message {
    font-size: 14px;
    align-items: bottom;
  }
  
  .view-cart {
    background-color: #fff;
    color: #F33A6A;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  